.banner {
  background-size: cover;
}

.titlecase {
  text-transform: capitalize;
}

.img-container {
  position: relative;
  text-align: center;
}

.img-overlay-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}